fastapi~=0.116.1
uvicorn~=0.35.0
pydantic~=2.11.7
loguru~=0.7.3
httpx
python-dotenv~=1.1.1
requests
langchain-community~=0.3.27
dashscope
sentence-transformers~=5.0.0
numpy~=2.3.1
scikit-learn
chromadb~=1.0.15
pytest~=8.4.1
starlette~=0.47.1